#Editor {
    background-color: transparent;
    border: none;
}

.table {
    border-collapse: collapse;
    text-align: left;

}

.table th {
    background-color: #256589;
    border: 3px solid #e3eef7;
    color: whitesmoke;
}
th,

.table td {
    text-align: left;
    border: 3px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.8s ease;
}

#sort {
    width: 120px;
    height: 50px;
    text-align: left;
    border: none;
    font-weight: bold;
    box-shadow: none;
    background-color: transparent;
    transition: 1s;
}

#sort:hover {
    color: black;
    opacity: 0.4;
    transition: 0.7s;
}

#sort:focus {
    background-color: cornflowerblue;
    opacity: 0.4;
}

.EmptyTable{
    text-align: center;
    margin-top: 15vh;
    font-size: 30px;
   text-transform: uppercase;
    font-weight: bold;
    color: #1d643b;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: cornflowerblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #256589;
}

@media only screen and (max-width: 1130px) {
    table {
        display:flex;
        white-space: nowrap;
        overflow-x: auto;
    }

    .table tbody {
        display: flex;

    }

    tr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: fit-content;
        background-image: none;
    }

    .table td, .table th {
        border: 2px solid #e3eef7;
        min-height: 65px;
    }

    .table tbody > tr {
        display: flex;

    }

    .table tbody:hover td {
        color: black;
        text-shadow: none;
    }

    .table tbody:hover tr:hover td {
        color: black;
        text-shadow: none;
    }

    th:nth-child(2n) {
        background-color: cornflowerblue;
    }

    #sort:focus {
        background-color: transparent;
    }

    #sort {
        width: 100%;
        height: 40%;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: cornflowerblue;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #256589;
    }

}




