#Editor {
    background-color: transparent;
    cursor: pointer;
    border:none;
}
.wrapperTable{
    display: flex;
    flex-direction: column;
   min-height:100vh;
    width: 100%;

}

.tableBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-top: 90px;
}

table {
    display: block;
    overflow-x: auto;
    text-align: left;
}

.table tr {
    display: flex;
}

th:not(#Editor){
    background-color: #0d5b85;
}

tr:nth-child(2n-1) td:not(#Editor) {
    background-color: white;
}
tr:nth-child(2n) td:not(#Editor) {
    background-color: #9ea6ff;
}

.table th:first-child,
.table td:first-child {
    height: auto;
    width: 50px;
    text-align: center;
}

.table th:not(#Editor) {

}
.table td {
    min-height: 100px;
}

.table th,
.table td {
    display: flex;
    width: 300px;
    text-align: left;
    padding: 10px 15px;
    position: relative;
    transition: 0.3s;
}
#sort {
    color: white;
    width: 120px;
    height: 50px;
    text-align: left;
    border: none;
    font-weight: bold;
    box-shadow: none;
    background-color: transparent;
    transition: 1s;
}

#sort:hover {
    color: black;
    transition: 0.3s;
}

#sort:focus {
    color: black;
}

.EmptyTable {
    text-align: center;
    margin-top: 15vh;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1d643b;
}


@media only screen and (max-width: 1130px) {
    table {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        overflow-x: auto;

    }
    tbody {
        display: flex;
    }

    tr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: fit-content;
        background-image: none;
    }
    .table td:last-child {
        border-right: 2px solid white;
    }
    .table td, .table th {
        border: 2px solid white;
        min-height: 65px;
        width: auto;
    }

    .table th {
        width: 150px;
    }

    .table tbody > tr {
        display: flex;
    }

    th:nth-child(2n) {
        background-color: cornflowerblue;
    }

    #sort:focus {
        background-color: transparent;
    }

    #sort {
        width: 100%;
        height: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .tableBlock {
        margin-top: 0;
    }
}
