#UserImg {
    background-color: transparent;
    border: none;
}

#userInfo {
    background-color: azure;
  transition: 0.6s;
}

#userBlock:hover {
    background-color: azure;
}

.absBlock {
    background-color: white;
    border-radius: 5px;
}

.userInfoSection {
    display: flex;
    flex-direction: column;
    cursor: text;
}