.DiagramList {
    width: 100%;
    margin-top: 12vh;
    background-color: #e8ecef;
}

.DiagramItem {
    width: 100%;
    background-color: #e8ecef;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.schedule {
    width: 500px;
    height: 500px;
}

.diagramText {
    color: #454d55;
    text-align: center;
    font-size: 22px;
    display: block;
    font-weight: bold;
    margin-top: 30px;
}

.labels {
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    justify-content: flex-start;
    width: 400px;
    height: 500px;
}

.labelBlock {
    display: flex;
}

.value {
    text-align: center;
    color: white;
    width: 60px;
}

#Dropdown-Menu {
    margin-left: 20px;
}

#MenuBlock {
    border: 2px solid #0d5b85;
    background-color: white;
    color: #0d5b85;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    white-space: nowrap;
    transition: 0.3s;
}

#MenuBlock:hover {
    background-color: #d9d9d9;
}

#MenuBlockFocus {
    font-weight: bold;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    background-color: #0d5b85;
    white-space: nowrap;
    border-radius: 15px;
    border: 2px solid #0d5b85;
    box-shadow: none;
}


@media screen and (max-width: 600px) {
    .DiagramItem {
        height: auto;
    }

    .wrapper {
        height: auto;
    }

    .labels {
        height: fit-content;
    }


    .schedule {
        width: 280px;
        height: 280px;
    }

    .labels,
    .diagramText {
        font-size: 16px;
        width: 100%;
    }
}
